In [66]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

df=pd.read_csv(r'C:\Users\User\Desktop\pand.csv')
df.head()

        day  temperature  wind speed  humidity  event
0  02/07/20           32           6        10   rain
1  03/07/20           28          12         5  sunny
2  04/07/20           38           3        20   snow
3  05/07/20           30           4         8   snow
4  06/07/20           27           8        11  sunny

In [74]:
dfmax=pd.DataFrame.max(df)
print(dfmax)

day            07/07/20
temperature          38
wind speed           12
humidity             20
event             sunny
dtype: object

In [75]:
dfmin=pd.DataFrame.min(df)
dfmin.head()

day            02/07/20
temperature          27
wind speed            3
humidity              5
event              rain
dtype: object

In [76]:
dfcount=pd.DataFrame.count(df)
dfcount.head()

day            6
temperature    6
wind speed     6
humidity       6
event          6
dtype: int64

In [80]:
dfm=pd.DataFrame.mean(df)
dfm.head()

temperature    31.166667
wind speed      6.500000
humidity       11.833333
dtype: float64

In [83]:
dfi=pd.DataFrame.describe(df)#to get info after dataframe we can put describe info memory_usage
dfi.head()

       temperature  wind speed   humidity
count     6.000000    6.000000   6.000000
mean     31.166667    6.500000  11.833333
std       3.920034    3.209361   5.636193
min      27.000000    3.000000   5.000000
25%      28.500000    4.500000   8.500000

In [84]:
dfi=pd.DataFrame.memory_usage(df) #memory usage indexes days count all about counts
dfi.head()

Index          128
day             48
temperature     48
wind speed      48
humidity        48
dtype: int64

In [106]:
dfm1=pd.DataFrame.median(df)#median info about csv object in float data type
dfm1.head()

temperature    31.0
wind speed      6.0
humidity       10.5
dtype: float64

In [118]:
newdf = df[(df.day == 1) & (df.humidity == 4)]#this option for selecting columns or rows for get information about csv file
newdf.head()

Empty DataFrame
Columns: [day, temperature, wind speed, humidity, event]
Index: []

In [123]:
print(dfmax[1:3])

temperature    38
wind speed     12
dtype: object

In [124]:
print(dfmin[1:3])

temperature    27
wind speed      3
dtype: object

In [129]:
SELECT *
FROM pand.csv
WHERE count == 6;

SyntaxError: invalid syntax (<ipython-input-129-d8567b72ae23>, line 1)

In [162]:
df.loc[1:3]

   a  b
1  2  5
2  3  6
3  4  7